<div class="container" [ngStyle]="{'margin-top': '10%'}">
    <div class="row justify-content-center border border-dark">
        <div class="col-12">
            <h1 class="text-center display-4">Mi Perfil</h1>
            <form class="my-5">
                <div class=" form-row justify-content-center">


                    <div class="form-group col-lg-10">
                        <label>Usuario :</label>
                        <input class="w-100" pInputText type="text" />
                    </div>
                    <!--DIV USUARIO-->

                    <div class="form-group col-lg-10">
                        <label>Nombre de Representado :</label>
                        <input class="w-100" pInputText type="text" />
                    </div>
                    <!--DIV REPRESENTADO-->

                    <div class="form-group col-lg-10">
                        <label>Mensajes Enviados :</label>
                        <input class="w-100" pInputText type="text" />
                    </div>
                    <!--DIV REPRESENTADO-->

                    <div class="form-group col-lg-10">
                        <label>Mensajes Recibidos :</label>
                        <input class="w-100" pInputText type="text" />
                    </div>
                    <!--DIV REPRESENTADO-->

                </div>

                <div class="form-row justify-content-center">
                    <div class="col-md-4">
                        <button class="btn btn-success btn-block">Ir al Inicio</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>